SOA_RAC_Form_App/Connected Services/CarService/Cars.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59807/Operastions/Cars.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SOAAssignment.RequestObjects" />
  <xs:import schemaLocation="http://localhost:59807/Operastions/Cars.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" />
  <xs:element name="ListCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAAssignment.RequestObjects" minOccurs="0" name="Request" nillable="true" type="q1:CarRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="ListCarsResult" nillable="true" type="q2:ArrayOfCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="Entyity" nillable="true" type="q3:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="CreateCarResult" nillable="true" type="q4:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="GetCarResult" nillable="true" type="q5:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="Entyity" nillable="true" type="q6:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="UpdateCarResult" nillable="true" type="q7:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" minOccurs="0" name="DeleteCarResult" nillable="true" type="q8:Car" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>