SOA_RAC_Form_App/Connected Services/CarService/Cars3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAAssignment.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59807/Operastions/Cars.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SOAAssignment.Enums" />
  <xs:complexType name="ArrayOfCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Car" nillable="true" type="tns:Car" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCar" nillable="true" type="tns:ArrayOfCar" />
  <xs:complexType name="Car">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentKm" type="xs:int" />
      <xs:element minOccurs="0" name="DailyMaxKm" type="xs:int" />
      <xs:element minOccurs="0" name="DriverAge" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SOAAssignment.Enums" minOccurs="0" name="HasAirBag" type="q1:AirgBagEnum" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LicenceAge" type="xs:int" />
      <xs:element minOccurs="0" name="LuggageVolume" type="xs:int" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumSeats" type="xs:int" />
      <xs:element minOccurs="0" name="RentPrice" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Car" nillable="true" type="tns:Car" />
</xs:schema>