SOA_RAC_Form_App/Connected Services/CustomerService/Customers1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SOAAssignment.RequestObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SOAAssignment.RequestObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DriverAge" type="xs:int" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenceAge" type="xs:int" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerRequest" nillable="true" type="tns:CustomerRequest" />
</xs:schema>